<% layout('boilerplate') -%>

<div class="container pad-top-20">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% if(message.length > 0){ %>
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= message %>
        </div>
      <% } %>
      <form action="/edit-profile" method="post">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" name="name" value="<%= user.profile.name %>">
        </div>
        <div class="form-group">
          <label for="address">Email address:</label>
          <textarea rows="5" class="form-control" name="address"><%= user.address %></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>